<system.serviceModel>
  <bindings>
    <webHttpBinding>
      <binding name="WebHttpBinding_Config" />
    </webHttpBinding>
  </bindings>
  <client>
    <endpoint address="http://localhost:50611/NWCustomerService.svc"
              binding="webHttpBinding"
              bindingConfiguration="WebHttpBinding_Config"
              contract="NWWCFServiceApp.INWCustomerService"
              behaviorConfiguration="webHttpBehavior" />
  </client>
  <behaviors>
    <endpointBehaviors>
      <behavior name="webHttpBehavior">
        <webHttp />
      </behavior>
    </endpointBehaviors>
  </behaviors>
</system.serviceModel>
